{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Bitly plugin for Craft CMS 3.x
 *
 * BitlyField Field Input
 *
 * @author    Stuart Haas
 * @copyright Copyright (c) 2020 Stuart Haas
 * @link      https://github.com/stuart-haas
 * @package   Bitly
 * @since     1.0.0
 */
#}

<div class="bitly-field">
    <input type="hidden" name="{{ name }}[bitlinkId]" value="{{ vars.bitlinkId }}" />
    <input type="hidden" name="{{ name }}[bitlink]" value="{{ vars.bitlink }}" />
    <div class="bitly-field-controls">
        <div class="bitly-field-input fullwidth">
            <input type="text" name="{{ name }}[longUrl]" class="text nicetext fullwidth longurl" value="{{ vars.longUrl }}" />
            <span class="spinner"></span>
        </div>
        <div class="btngroup">
            <a class="btn submit create first">Create Bitlink</a>
            {#<a class="btn update">Update Bitlink</a>#}
        </div>
    </div>
    <div class="bitly-field-info">
        <span class="bitlink">{{ vars.bitlink }}</span>
        <span class="message"></span>
    </div>
</div>